Here are all records:
<ul>
    <% values.forEach( (table) => { %>
    <li> 
        <%= table.x %>:
        <%= table.y %>   
    </li>
    <% }) %>  
</ul> 
<br><a href='pi.html'> Create new record</a>